# Hypotheses

 - objectives:
        Indentify regions wihtin GTA that would be feasible to purchase a porperty, considering avg list price
        
 - h1: There properties with listing price below market value considering hte avg market value from the neighbourhood.
 
 - h2: Some neighbourhoods have higher market value propoerties than others, considering same properties' features
     - Baths, Beds,
     - sqft
     - Type - Condo, Basement, Detached, Townhouse   
 - h3: There are some properties that were sold more than once within the timeframe of the analysis
 
 - h4: there are some features with corelation to the listing price than others.

# Import libs

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('df_houses.parquet')

In [3]:
df.columns

Index(['id', 'last_updated_str', 'properly_city_code', 'community',
       'neighbourhood_name', 'neighbourhoods', 'city', 'province', '_geoloc',
       'formatted_address', 'list_price', 'on_market_date_str',
       'close_date_str', 'property_sub_type', 'levels', 'parking_total',
       'living_area_sqft', 'bedrooms_standard', 'bedrooms_plus',
       'bedrooms_standard_and_plus', 'bathrooms_full', 'bathrooms_partial',
       'bathrooms_total', 'images_count', 'garage_spaces', 'predicted_price',
       'error_rate'],
      dtype='object')

In [4]:
df.head()

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,3,0,3,1,2,3,37,2,963601.125,0.09371979510713004
1,mls-toronto-W5756108,2023-01-04 13:38:41+00,toronto-on-ca,Palermo West,"Bronte Creek, Palermo West",[],Oakville,ON,"{'lat': 43.422433, 'lng': -79.769032}","3141 Saddleworth Crescent, Oakville, ON L6M 0A...",...,4,0,4,3,2,5,40,2,2463218.75,0.07794405186303491
2,mls-toronto-S5856040,2023-01-05 14:51:54+00,toronto-on-ca,Cundles East,Cundles East,[],Barrie,ON,"{'lat': 44.413409, 'lng': -79.690924}","460 St Vincent St, Barrie, ON L4M 6C8, Canada",...,4,0,4,2,1,3,9,2,None,None
3,mls-toronto-S5842127,2023-01-04 17:23:18+00,toronto-on-ca,Horseshoe Valley,"Horseshoe Valley, Rural Oro-Medonte",[],Shanty Bay,ON,"{'lat': 44.537724, 'lng': -79.660751}","52 Oakmont Ave, Shanty Bay, ON L0L 2L0, Canada",...,2,1,3,2,0,2,32,2,None,None
4,mls-toronto-S5834508,2023-01-05 14:13:15+00,toronto-on-ca,400 West,"Painswick South, Painswick",[],Barrie,ON,"{'lat': 44.344414, 'lng': -79.647427}","119 Nathan Crescent, Barrie, ON L4N 0S5, Canada",...,2,1,3,1,0,1,28,1,None,None

In [10]:
df.groupby(['city','neighbourhood_name'],as_index = False).count()

,city,neighbourhood_name,id,last_updated_str,properly_city_code,community,neighbourhoods,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
0,Acton,"Action, Rural Halton Hills",6,6,6,5,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,0,0
3,Adjala-Tosorontio,Rural New Tecumseth,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,0,0
4,Agatha,,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1702,York,"Mount Dennis, York",1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
1703,York,"Oakwood-Vaughn, York",4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
1704,York,"Roselands, Rockcliffe-Smythe",4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
1705,York,"Weston, York",3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3

In [13]:
df.groupby(['city','neighbourhood_name'],as_index = False).agg({'list_price':'mean',
                                                               'bathrooms_total':'max'})

,city,neighbourhood_name,list_price,bathrooms_total
0,Acton,"Action, Rural Halton Hills",919766.5,4
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",729999.0,2
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,1374225.0,4
3,Adjala-Tosorontio,Rural New Tecumseth,819000.0,3
4,Agatha,,1499900.0,1
...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",479000.0,1
1702,York,"Mount Dennis, York",388800.0,1
1703,York,"Oakwood-Vaughn, York",959225.0,2
1704,York,"Roselands, Rockcliffe-Smythe",715475.0,2
1705,York,"Weston, York",899600.0,2

In [33]:
df_city = df.groupby(['city','neighbourhood_name'],as_index = False).agg({'list_price':'mean',
                                                               'bathrooms_total':'mean'})

In [34]:
df_city = df_city.rename(columns={'list_price':'mean_price',
                                 'bathrooms_total':'mean_bath'})

In [35]:
df_city

,city,neighbourhood_name,mean_price,mean_bath
0,Acton,"Action, Rural Halton Hills",919766.5,3.00
1,Adjala-Tosorontio,"Everett, Rural Adjala-Tosorontio",729999.0,2.00
2,Adjala-Tosorontio,Rural Adjala-Tosorontio,1374225.0,2.75
3,Adjala-Tosorontio,Rural New Tecumseth,819000.0,2.50
4,Agatha,,1499900.0,1.00
...,...,...,...,...
1701,York,"Marlee Village, Briar Hill - Belgravia",479000.0,1.00
1702,York,"Mount Dennis, York",388800.0,1.00
1703,York,"Oakwood-Vaughn, York",959225.0,1.50
1704,York,"Roselands, Rockcliffe-Smythe",715475.0,1.75
1705,York,"Weston, York",899600.0,2.00

In [25]:
df['neighbourhood_name'].value_counts(dropna = False)

                                    568
Bowmanville                          69
Unionville                           50
Humber Bay, Stonegate-Queensway      47
Georgetown, Rural Halton Hills       43
                                   ...
Prince William Gate, Innis Shore      1
Kilally, Huron Heights                1
North Ward                            1
Whitehills, Medway                    1
Burleigh Hill, Merritton              1
Name: neighbourhood_name, Length: 1180, dtype: int64

In [29]:
df['community'].value_counts(dropna = False)

None                         899
Waterfront Communities C1    128
Bowmanville                   71
Mimico                        67
City Centre                   65
                            ...
Hastings                       1
Nottawa                        1
Blakeley                       1
Oakville                       1
Elder Mills                    1
Name: community, Length: 736, dtype: int64

In [28]:
df[df['community'].isnull()]

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard,bedrooms_plus,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate
20,mls-toronto-X5849719,2023-01-04 03:57:14+00,toronto-on-ca,None,Greenway-Chaplin,[],Cambridge,ON,"{'lat': 43.372066, 'lng': -80.309798}","125 Norfolk Ave, Cambridge, ON N1R 3V3, Canada",...,3,0,3,2,0,2,16,1,None,None
21,mls-toronto-X5849070,2023-01-04 15:59:10+00,toronto-on-ca,None,,[],North Perth,ON,"{'lat': 43.721229, 'lng': -80.95761}","90 Forbes Cres, North Perth, ON N0G, Canada",...,3,0,3,2,1,3,37,2,None,None
22,mls-toronto-X5841261,2023-01-03 21:04:02+00,toronto-on-ca,None,Brier Park,[],Brantford,ON,"{'lat': 43.172785, 'lng': -80.249121}","640 West St #809, Brantford, ON N3R 6M3, Canada",...,3,0,3,2,0,2,23,0,None,None
23,mls-toronto-X5841163,2023-01-04 15:26:46+00,toronto-on-ca,None,"Hodgson, Westlane",[],Niagara Falls,ON,"{'lat': 43.090302, 'lng': -79.127665}","7826 Spring Blossom Dr, Niagara Falls, ON L2H ...",...,4,1,5,4,0,4,39,2,None,None
25,mls-toronto-X5840127,2023-01-04 14:55:12+00,toronto-on-ca,None,,[],Beamsville,ON,"{'lat': 43.16377, 'lng': -79.4774}","4248 Queen St, Beamsville, ON L0R 1B2, Canada",...,3,0,3,2,1,3,37,1,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7617,mls-toronto-X5819320,2022-11-14 19:34:43+00,toronto-on-ca,None,Shellard Lane,[],Brantford,ON,"{'lat': 43.11602, 'lng': -80.30751}","181 Munro Cir, Brantford, ON N3T 5L5, Canada",...,4,0,4,3,1,4,40,2,None,None
7620,mls-toronto-X5818096,2022-11-13 14:15:31+00,toronto-on-ca,None,Cordage,[],Welland,ON,"{'lat': 42.979151, 'lng': -79.239586}","318 Simpson Ave, Welland, ON L3B 4Y8, Canada",...,2,0,2,1,0,1,23,0,None,None
7623,mls-toronto-X5816510,2022-11-23 15:09:03+00,toronto-on-ca,None,Doon South,[],Kitchener,ON,"{'lat': 43.37361, 'lng': -80.430847}","100 Watermill St, Kitchener, ON N2P 0H3, Canada",...,3,0,3,2,1,3,28,1,None,None
7626,mls-toronto-X5812354,2022-11-14 15:42:10+00,toronto-on-ca,None,Orchard Park,[],Catharines,ON,"{'lat': 43.174243, 'lng': -79.26105}","19 Garfield Ln, St. Catharines, ON L2R 7G9, Ca...",...,4,0,4,2,0,2,34,0,None,None
7630,mls-toronto-X5809927,2022-11-11 23:34:44+00,toronto-on-ca,None,Hespeler Village,[],Cambridge,ON,"{'lat': 43.427825, 'lng': -80.302224}","14 Alpine St, Cambridge, ON N3C 2J7, Canada",...,2,2,4,2,0,2,28,2,None,None

In [27]:
df.count()

id                            7631
last_updated_str              7631
properly_city_code            7631
community                     6732
neighbourhood_name            7631
neighbourhoods                7631
city                          7631
province                      7631
_geoloc                       7631
formatted_address             7631
list_price                    7631
on_market_date_str            7631
close_date_str                7631
property_sub_type             7631
levels                        7607
parking_total                 7631
living_area_sqft              5348
bedrooms_standard             7631
bedrooms_plus                 7631
bedrooms_standard_and_plus    7631
bathrooms_full                7631
bathrooms_partial             7631
bathrooms_total               7631
images_count                  7631
garage_spaces                 7631
predicted_price               5100
error_rate                    5100
dtype: int64

In [39]:
df2 = df.merge(df_city,how = 'inner', on = ['city','neighbourhood_name'])
df2

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bedrooms_standard_and_plus,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate,mean_price,mean_bath
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,3,1,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,3,1,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,4,1,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,5,3,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,3,2,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,3,2,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,5,3,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,5,3,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,3,2,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,None,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,4,2,0,2,30,0,None,None,499999.0,2.0

In [41]:
df2['dif_price'] = df2['list_price'] - df2['mean_price']
df2

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bathrooms_full,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate,mean_price,mean_bath,dif_price
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,1,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0,-28891.5
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0,-47891.5
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,1,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0,-276891.5
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,3,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0,522108.5
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,2,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0,-47891.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,2,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0,0.0
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,3,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,0.0
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,3,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,0.0
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,2,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,0.0
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,None,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,2,0,2,30,0,None,None,499999.0,2.0,0.0

In [43]:
df2['exemplo_df'] = 'batata'
df2

,id,last_updated_str,properly_city_code,community,neighbourhood_name,neighbourhoods,city,province,_geoloc,formatted_address,...,bathrooms_partial,bathrooms_total,images_count,garage_spaces,predicted_price,error_rate,mean_price,mean_bath,dif_price,exemplo_df
0,mls-toronto-W5808402,2023-01-05 03:13:50+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.640198, 'lng': -79.872318}","3 Watson Rd, Georgetown, ON L7G 5N8, Canada",...,2,3,37,2,963601.125,0.09371979510713004,976891.5,3.0,-28891.5,batata
1,mls-toronto-W5783469,2022-12-30 14:47:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.652686, 'lng': -79.935119}","29 Heather Ct, Georgetown, ON L7G 2R5, Canada",...,1,2,38,1,903281.5625,0.02169789942989122,976891.5,3.0,-47891.5,batata
2,mls-toronto-W5853578,2022-12-22 23:19:24+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.650544, 'lng': -79.931884}","38 Henry St, Georgetown, ON L7G 2K5, Canada",...,0,1,14,0,695475.625,0.19267021399923254,976891.5,3.0,-276891.5,batata
3,mls-toronto-W5813715,2022-12-20 22:09:49+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.641308, 'lng': -79.87374}","23 Split Maple Ln, Georgetown, ON L7G 5R6, Canada",...,1,4,27,2,1369438.75,0.047678017728065604,976891.5,3.0,522108.5,batata
4,mls-toronto-W5823799,2022-12-12 15:19:37+00,toronto-on-ca,Georgetown,"Georgetown, Rural Halton Hills",[],Georgetown,ON,"{'lat': 43.632935, 'lng': -79.876212}","65 Niagara Trail, Georgetown, ON L7G 0A7, Canada",...,1,3,33,1,901884.625,0.03902155167574788,976891.5,3.0,-47891.5,batata
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7626,mls-toronto-W5819761,2022-11-16 15:33:51+00,toronto-on-ca,Briar Hill-Belgravia,"Eglinton West, Briar Hill - Belgravia","[Fairbank, Fairbank (Briar Hill-Belgravia), Yo...",Toronto,ON,"{'lat': 43.695136, 'lng': -79.457522}","21 Ronald Ave, York, ON M6E 4M5, Canada",...,0,2,20,1,859919.875,0.11627449592323937,839000.0,2.0,0.0,batata
7627,mls-toronto-N5803278,2022-11-18 15:53:41+00,toronto-on-ca,Elder Mills,Elder Mills,[],Vaughan,ON,"{'lat': 43.804796, 'lng': -79.627028}","78 Royalpark Way, Vaughan, ON L4H 1J6, Canada",...,1,4,34,2,1328391.0,0.02445599601322201,1399900.0,4.0,0.0,batata
7628,mls-toronto-E5812454,2022-11-14 17:02:30+00,toronto-on-ca,Steeles,"Clarks Corners, Steeles",[],Scarborough,ON,"{'lat': 43.809156, 'lng': -79.310251}","16 Lapworth Crescent, Scarborough, ON M1V 2M5,...",...,1,4,40,2,1500777.25,0.027431702472835325,1599000.0,4.0,0.0,batata
7629,mls-toronto-C5821673,2022-11-14 21:28:09+00,toronto-on-ca,Kensington-Chinatown,"Baldwin Village, Grange Park","[Baldwin Village, Downtown, Grange Park]",Toronto,ON,"{'lat': 43.656319, 'lng': -79.392541}","6 Baldwin St, Toronto, ON M5T 1L2, Canada",...,1,3,28,1,1598647.375,0.09465611514234025,1499000.0,3.0,0.0,batata
7630,mls-toronto-X5819889,2022-11-16 23:10:48+00,toronto-on-ca,None,"Burleigh Hill, Merritton",[],Catharines,ON,"{'lat': 43.132529, 'lng': -79.202872}","10 Alden Ct, St. Catharines, ON L2T 3X3, Canada",...,0,2,30,0,None,None,499999.0,2.0,0.0,batata

# Titulo 1
## Titulo 2

# <font color='red'>Bar</font>

h2
fazer null = 0
features